@font-face {
  font-family: "Roboto";
  src: url("/src/interactive-card-details-form-main/Elms_Sans/ElmsSans-VariableFont_wght.ttf") format(truetype-variations);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
  font-family: "Roboto";
}
html body {
  height: 100%;
  margin: 0%;
}
html body #root {
  width: 100%;
  height: 100%;
  height: 180vw;
}
html body #root main {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
html body #root main section.purpule-top-section {
  width: 100%;
  height: 30%;
  background-image: url("/src/images/bg-main-mobile.png");
  padding: 5%;
}
html body #root main section.purpule-top-section div.card-back-logo {
  height: 70%;
  width: 75%;
  position: relative;
  left: 15%;
  top: 8%;
  z-index: 1;
}
html body #root main section.purpule-top-section div.card-back-logo img.card-back {
  width: 100%;
  height: 100%;
  z-index: 1;
}
html body #root main section.purpule-top-section div.card-back-logo p#secret-number {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0%;
  margin-right: 0%;
  position: relative;
  bottom: 58%;
  left: 80%;
  z-index: 2;
  color: aliceblue;
  font-size: 3vw;
}
html body #root main section.purpule-top-section div.card-front-logo {
  height: 70%;
  width: 75%;
  position: relative;
  bottom: 24%;
  z-index: 2;
}
html body #root main section.purpule-top-section div.card-front-logo img.card-front {
  height: 100%;
  width: 100%;
  z-index: 1;
}
html body #root main section.purpule-top-section div.card-front-logo img.card-logo {
  height: 30%;
  z-index: 2;
  position: absolute;
  right: 70%;
  top: 9%;
}
html body #root main section.purpule-top-section div.card-front-logo h3.front-card-numders {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 6.5vw;
  color: aliceblue;
}
html body #root main section.purpule-top-section div.card-front-logo p.card-holder-name {
  z-index: 2;
  position: absolute;
  top: 68%;
  left: 6%;
  font-size: 0.7rem;
  color: aliceblue;
  font-weight: 400;
}
html body #root main section.purpule-top-section div.card-front-logo p.expiration-date {
  z-index: 2;
  position: absolute;
  top: 73%;
  left: 81%;
  font-size: 0.5rem;
  color: aliceblue;
  font-weight: 400;
}
html body #root main form {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 25% 25% 30% 20%;
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  padding: 5%;
  padding-top: 15%;
  position: relative;
  z-index: 1;
  /* CARDHOLDER NAME */
  /* CARD NUMBER */
  /* Exp. date (mm/yy) */
  /* CVC */
  /*Confirmation button*/
}
html body #root main form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}
html body #root main form label.labels {
  height: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  /* For Chrome, Safari, Edge, and Opera */
  /* For Firefox */
}
html body #root main form label.labels input {
  border-style: none;
  box-sizing: border-box;
  min-height: 1rem;
  height: 50%;
  margin-top: 2%;
  border-radius: 5px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border: 1px solid rgb(168, 168, 168);
  font-weight: 600;
  transition: all 0.2s ease;
}
html body #root main form label.labels input::-moz-placeholder {
  color: rgb(175, 175, 175);
  font-size: 0.9rem;
}
html body #root main form label.labels input::placeholder {
  color: rgb(175, 175, 175);
  font-size: 0.9rem;
}
html body #root main form label.labels input:hover, html body #root main form label.labels input:focus-visible {
  background-color: rgb(219, 219, 219);
}
html body #root main form label.labels input:active {
  transform: scale(1.25);
}
html body #root main form label.labels input[type=number]::-webkit-outer-spin-button,
html body #root main form label.labels input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
html body #root main form label.labels input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
html body #root main form label.labels p.error-message {
  font-size: 0.7rem;
  margin-bottom: 0%;
  margin-top: 0%;
  height: 20%;
  color: red;
  z-index: 2;
}
html body #root main form label.labels.user-name-label {
  grid-column: 1/4;
  grid-row: 1/2;
}
html body #root main form label.labels.card-number-label {
  grid-column: 1/4;
  grid-row: 2/3;
}
html body #root main form div.expiration-date-container {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 75%;
  /* For Chrome, Safari, Edge, and Opera */
  /* For Firefox */
}
html body #root main form div.expiration-date-container p.expiration-title {
  margin: 0%;
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  align-self: start;
  font-size: 0.8rem;
  font-weight: 600;
}
html body #root main form div.expiration-date-container input#month.date-inputs,
html body #root main form div.expiration-date-container input#year.date-inputs {
  width: 92%;
  height: 55%;
  grid-row: 2;
  align-self: start;
  box-sizing: border-box;
  margin-top: 0%;
  margin-bottom: 5%;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
  color: black;
  font-weight: 600;
  padding-left: 15%;
  padding-right: 10%;
  transition: all 0.2s ease;
}
html body #root main form div.expiration-date-container input#month.date-inputs::-moz-placeholder, html body #root main form div.expiration-date-container input#year.date-inputs::-moz-placeholder {
  color: rgb(175, 175, 175);
  font-size: 0.9rem;
}
html body #root main form div.expiration-date-container input#month.date-inputs::placeholder,
html body #root main form div.expiration-date-container input#year.date-inputs::placeholder {
  color: rgb(175, 175, 175);
  font-size: 0.9rem;
}
html body #root main form div.expiration-date-container input#month.date-inputs:hover, html body #root main form div.expiration-date-container input#month.date-inputs:focus-visible,
html body #root main form div.expiration-date-container input#year.date-inputs:hover,
html body #root main form div.expiration-date-container input#year.date-inputs:focus-visible {
  background-color: rgb(219, 219, 219);
}
html body #root main form div.expiration-date-container input#month.date-inputs:active,
html body #root main form div.expiration-date-container input#year.date-inputs:active {
  transform: scale(1.25);
}
html body #root main form div.expiration-date-container input[type=number]::-webkit-outer-spin-button,
html body #root main form div.expiration-date-container input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html body #root main form div.expiration-date-container input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
html body #root main form div.expiration-date-container p.error-message {
  grid-row: 2;
  align-self: end;
  margin: 0%;
  margin-bottom: 0%;
  height: 45%;
  font-size: 0.7rem;
  font-weight: 600;
  color: red;
}
html body #root main form div.expiration-date-container input#month {
  grid-column: 1/2;
}
html body #root main form div.expiration-date-container p#message-month {
  grid-column: 1/2;
}
html body #root main form div.expiration-date-container input#year {
  grid-column: 2;
  justify-self: right;
}
html body #root main form div.expiration-date-container p#message-year {
  grid-column: 2/3;
  margin-left: 10%;
}
html body #root main form label.labels.secret-number-label {
  grid-column: 3;
  grid-row: 3/4;
}
html body #root main form label.labels.secret-number-label input#secret-number {
  height: 42%;
  margin-top: 7%;
  padding-left: 8%;
  padding-right: 8%;
}
html body #root main form button#confirmation-button {
  border-style: none;
  grid-column: 1/4;
  grid-row: 4;
  margin-top: 5%;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(20, 4, 51);
  transition: all 0.2s ease;
}
html body #root main form button#confirmation-button:hover, html body #root main form button#confirmation-button:focus-visible {
  background-color: rgb(30, 3, 83);
}
html body #root main form button#confirmation-button:active {
  transform: scale(1.2);
}
html body #root main section.complete-state-section {
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-self: center;
  top: 40%;
}
html body #root main section.complete-state-section h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  font-weight: 400;
}
html body #root main section.complete-state-section p {
  width: 100%;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 15%;
  font-weight: 200;
  font-size: 1.2rem;
}
html body #root main section.complete-state-section button {
  width: 100%;
  border-style: none;
  border-radius: 10px;
  background-color: rgb(20, 4, 51);
  color: aliceblue;
  height: 13%;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
html body #root main section.complete-state-section button:hover, html body #root main section.complete-state-section button:focus-visible {
  background-color: rgb(30, 3, 83);
}
html body #root main section.complete-state-section button:active {
  transform: scale(1.2);
}

@media screen and (min-width: 400px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
  html body #root {
    height: 50vw;
  }
  html body #root main {
    flex-direction: row;
  }
  html body #root main section.purpule-top-section {
    height: 100%;
    width: 20%;
    background-image: url("/src/images/bg-main-desktop.png");
    z-index: 3;
  }
  html body #root main section.purpule-top-section div.card-back-logo {
    height: 30%;
    width: 135%;
    left: 50%;
    top: 40%;
  }
  html body #root main section.purpule-top-section div.card-back-logo p#secret-number {
    font-size: 1.5vw;
    bottom: 60%;
    left: 77%;
  }
  html body #root main section.purpule-top-section div.card-front-logo {
    height: 30%;
    width: 135%;
    left: 30%;
  }
  html body #root main section.purpule-top-section div.card-front-logo img.card-logo {
    height: 20%;
    right: 75%;
  }
  html body #root main section.purpule-top-section div.card-front-logo h3.front-card-numders {
    font-size: 2.3vw;
    bottom: 10%;
  }
  html body #root main section.purpule-top-section div.card-front-logo p.card-holder-name {
    top: 72%;
    left: 8%;
    font-size: 0.9rem;
  }
  html body #root main section.purpule-top-section div.card-front-logo p.expiration-date {
    top: 72%;
    font-size: 0.9rem;
  }
  html body #root main form {
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    padding-right: 21%;
    padding-left: 21%;
    padding-top: 12%;
    padding-bottom: 12%;
  }
  html body #root main section.complete-state-section {
    width: 70%;
    height: 100%;
    margin-left: 30%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 13%;
    position: absolute;
    top: auto;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}/*# sourceMappingURL=App.css.map */