//
@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    body {
      #root {
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    body {
      #root {
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    body {
      #root {
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @media (min-width: 576px) {
    html {
      body {
        #root {
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @media (min-width: 576px) {
    html {
      body {
        #root {
        }
      }
    }
  }
}
