@font-face {
  font-family: "Roboto";
  src: url("/src/interactive-card-details-form-main/Elms_Sans/ElmsSans-VariableFont_wght.ttf")
    format(truetype-variations);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

//============ Media query min-width(321px) =============
html {
  height: 100%;
  font-family: "Roboto";
  body {
    height: 100%;
    margin: 0%;
    #root {
      width: 100%;
      height: 100%;
      height: 180vw;
      main {
        height: 100%;
        display: flex;
        flex-direction: column;

        section.purpule-top-section {
          width: 100%;
          height: 30%;
          background-image: url("/src/images/bg-main-mobile.png");
          padding: 5%;

          //---------The back card----------
          div.card-back-logo {
            height: 70%;
            width: 75%;
            position: relative;
            left: 15%;
            top: 8%;
            z-index: 1;
            img.card-back {
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            p#secret-number {
              width: fit-content;
              margin: 0%;
              margin-right: 0%;
              position: relative;

              bottom: 59.5%;
              left: 80%;
              z-index: 2;

              color: aliceblue;
              font-size: 0.6rem;
            }
          }

          //-------The front card---------
          div.card-front-logo {
            height: 70%;
            width: 75%;
            position: relative;
            bottom: 24%;
            z-index: 2;

            img.card-front {
              height: 100%;
              width: 100%;
              z-index: 1;
            }

            img.card-logo {
              height: 30%;
              z-index: 2;
              position: absolute;
              right: 70%;
              top: 9%;
            }
            h3.front-card-numders {
              z-index: 2;
              position: absolute;
              bottom: 10%;
              width: 100%;
              text-align: center;

              font-size: 1.3rem;
              color: aliceblue;
            }
            p.card-holder-name {
              z-index: 2;
              position: absolute;
              top: 68%;
              left: 6%;

              font-size: 0.7rem;
              color: aliceblue;
              font-weight: 400;
            }
            p.expiration-date {
              z-index: 2;
              position: absolute;
              top: 73%;
              left: 81%;

              font-size: 0.5rem;
              color: aliceblue;
              font-weight: 400;
            }
          }
        }

        // The FORM
        form {
          display: grid;
          grid-template-columns: 45% 10% 45%;
          grid-template-rows: 25% 25% 30% 20%;

          box-sizing: border-box;
          height: 70%;
          width: 100%;

          padding: 5%;
          padding-top: 15%;

          //The general labels
          label {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: black;
          }

          //------General stylings--------
          label.labels {
            height: 100%;
            font-size: 0.8rem;
            font-weight: 500;

            input {
              border-style: none;
              box-sizing: border-box;
              min-height: 1rem;
              height: 50%;
              margin-top: 2%;
              border-radius: 5px;
              padding-left: 3.5%;
              padding-right: 3.5%;

              border: 1px solid rgb(168, 168, 168);
              font-weight: 600;
              transition: all 0.2s ease;
              &::placeholder {
                color: rgb(175, 175, 175);
              }

              &:hover,
              &:focus-visible {
                background-color: rgb(219, 219, 219);
              }
              &:active {
                transform: scale(1.25);
              }
            }
            /* For Chrome, Safari, Edge, and Opera */
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              appearance: none;
              -webkit-appearance: none;
              margin: 0;
            }
            /* For Firefox */
            input[type="number"] {
              appearance: textfield;
              -moz-appearance: textfield;
            }

            //The general error message
            p.error-message {
              font-size: 0.7rem;
              margin-bottom: 0%;
              margin-top: 0%;
              height: 20%;
              color: red;
              z-index: 2;
            }
          }

          /* CARDHOLDER NAME */
          label.labels.user-name-label {
            grid-column: 1/4;
            grid-row: 1/2;
          }

          /* CARD NUMBER */
          label.labels.card-number-label {
            grid-column: 1/4;
            grid-row: 2/3;
          }

          /* Exp. date (mm/yy) */
          div.expiration-date-container {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 75%;

            p.expiration-title {
              margin: 0%;
              grid-row: 1/2;
              grid-column: 1/3;
              width: 100%;
              align-self: start;
              font-size: 0.8rem;
              font-weight: 600;
            }

            // General stylings for the two imputs
            input#month.date-inputs,
            input#year.date-inputs {
              width: 92%;
              height: 55%;
              grid-row: 2;
              align-self: start;
              box-sizing: border-box;
              margin-top: 0%;
              margin-bottom: 5%;

              border-radius: 5px;
              border: 1px solid rgb(168, 168, 168);
              color: black;
              font-weight: 600;
              padding-left: 15%;
              padding-right: 10%;
              transition: all 0.2s ease;

              &::placeholder {
                color: rgb(168, 168, 168);
              }

              &:hover,
              &:focus-visible {
                background-color: rgb(219, 219, 219);
              }
              &:active {
                transform: scale(1.25);
              }
            }
            /* For Chrome, Safari, Edge, and Opera */
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* For Firefox */
            input[type="number"] {
              appearance: textfield;
              -moz-appearance: textfield;
            }

            //GENERAL STYLING FOR THE ERROR MESSAGES
            p.error-message {
              grid-row: 2;
              align-self: end;
              margin: 0%;
              margin-bottom: 0%;
              height: 45%;

              font-size: 0.7rem;
              font-weight: 600;
              color: red;
            }

            //The input month section
            input#month {
              grid-column: 1/2;
            }
            p#message-month {
              grid-column: 1/2;
            }

            //The input year section
            input#year {
              grid-column: 2;
              justify-self: right;
            }
            p#message-year {
              grid-column: 2/3;
              margin-left: 10%;
            }
          }

          /* CVC */
          label.labels.secret-number-label {
            grid-column: 3;
            grid-row: 3/4;

            input#secret-number {
              height: 42%;
              margin-top: 7%;
              padding-left: 8%;
              padding-right: 8%;
            }
          }

          /*Confirmation button*/
          button#confirmation-button {
            border-style: none;
            grid-column: 1/4;
            grid-row: 4;

            margin-top: 5%;
            border-radius: 10px;
            color: aliceblue;
            font-weight: 600;
            font-size: 1rem;
            background-color: rgb(20, 4, 51);

            //Animation
            transition: all 0.2s ease;

            &:hover,
            &:focus-visible {
              background-color: rgb(30, 3, 83);
            }

            &:active {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@import "_mediaQueries";
