@font-face {
  font-family: "Roboto";
  src: url("/src/interactive-card-details-form-main/Elms_Sans/ElmsSans-VariableFont_wght.ttf")
    format(truetype-variations);
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

//Media query min-width(321px)
html {
  height: 100%;
  font-family: "Roboto";
  body {
    height: 100%;
    margin: 0%;
    #root {
      width: 100%;
      height: 100%;
      height: 180vw;
      main {
        height: 100%;
        display: flex;
        flex-direction: column;

        div.purpule-top-section {
          width: 100%;
          height: 30%;
          background-image: url("/src/images/bg-main-mobile.png");
          padding: 5%;

          img.card-back {
            height: 70%;
            width: 75%;
            position: relative;
            left: 15%;
            top: 8%;
            z-index: 1;
          }
          div.card-front-logo {
            height: 70%;
            width: 75%;
            position: relative;
            bottom: 24%;
            z-index: 2;

            img.card-front {
              height: 100%;
              width: 100%;
              z-index: 1;
            }

            img.card-logo {
              height: 30%;
              z-index: 2;
              position: absolute;
              right: 70%;
              top: 9%;
            }
          }
        }

        form {
          display: grid;
          grid-template-columns: 45% 45%;
          grid-template-rows: 25% 25% 25% 25%;

          box-sizing: border-box;
          height: 70%;
          width: 100%;

          padding: 5%;
          padding-top: 15%;
          gap: 5%;
          background-color: rgb(34, 86, 131);

          //The general labels
          label {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: black;
          }

          label.labels {
            height: 70%;
            input {
              border-style: none;
              height: 80%;
              border-radius: 5px;
            }
          }

          /* CARDHOLDER NAME */
          label.labels.user-name-label {
            grid-column: 1/3;
            grid-row: 1/2;
          }

          /* CARD NUMBER */
          label.labels.card-number-label {
            grid-column: 1/3;
            grid-row: 2/3;
          }

          /* Exp. date (mm/yy) */
          div.expiration-date-container {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 20% 80%;

            p.expiration-title {
              margin: 0%;
              grid-row: 1/2;
              grid-column: 1/2;
            }
            input#month {
              width: 100%;
              grid-column: 1/2;
              grid-row: 2;
            }
            input#year {
              width: 100%;
              grid-column: 2;
              grid-row: 2;
            }
          }

          /* CVC */
          label.labels.secret-number-label {
            grid-column: 2;
            grid-row: 3/4;
          }

          /*Confirmation button*/
          button#confirmation-button {
            grid-column: 1/3;
            grid-row: 4;

            color: aliceblue;
            background-color: rgb(20, 4, 51);
          }
        }
      }
    }
  }
}
